.adress {
  &__label {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0px;
    color: #9FADC2;
    padding-top: 30px;


  }

  &__content {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
    padding-top: 10px;
  }
}
