@use '../utils/mixins' as *;

.adress {
  @include for-medium {
    grid-column: 2;
    display: block;
  }

  @include for-desktop {
    grid-column: 9 / 12;
  }
  &__label {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
    color: #9fadc2;

    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  &__content {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;

    &--phone {
      font-family: Inter, sans-serif;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0;
      padding-top: 10px;
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    &--adress {
      font-family: Inter, sans-serif;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0;
      padding-top: 10px;
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    &:hover {
      color: #9fadc4;
    }
  }
}
