.article {
  &__image {
    display: block;
    margin: 0 auto;

  }

  &__name {
    font-family: Inter;
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 140%;
    padding: 0 10px;
    margin-top: 15px;


  }

  &__category {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 140%;
    padding: 0 10px;

  }

  &__price{
    font-family: Inter;
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 140%;
    padding: 0 10px;
  }

  &__paragraph {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 140%;
    padding: 0 10px;
    margin-top: 50px;

  }
}
