@use '../utils/mixins' as *;

.article {

  &__image {
    display: block;
    margin: 0 auto;

  }

  &__name {
    font-family: Inter;
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 140%;
    padding: 0 10px;
    margin-top: 15px;

    @include for-medium() {
      padding-left: 180px;
    }

    @include for-desktop() {
      padding-left: 50px;
    }

    &--secondary {

      @include for-medium() {
        grid-column: 2;
        text-align: left;
        justify-self: start;
        padding: 0;
        transform: translateY(-120px);
      }
    }

  }


  &__category {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 140%;
    padding: 0 10px;

    @include for-medium() {
      padding-left: 180px;
    }

    @include for-desktop() {
      padding-left: 50px;
    }

  }

  &__price {
    font-family: Inter;
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 140%;
    padding: 0 10px;

    @include for-medium() {
      padding-left: 180px;
    }

    @include for-desktop() {
      padding-left: 50px;
    }
  }

  &__paragraph {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 27px;
    padding: 0 10px;
    margin-top: 50px;

    @include for-medium() {
      grid-column: 2;
      margin-top: 30px;
      padding: 0;
      text-align: left;
      justify-self: end;
      transform: translateY(-120px);
      line-height: 27px;
    }


  }

  &__buy {
    margin-top: 50px;
    padding: 0 20px;

    @include for-medium() {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 40px;
      align-items: start;
    }

    &--title {
      font-family: Inter;
      font-weight: 700;
      font-style: bold;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -1.5px;
      align-items: center;
      text-align: left;
      margin-top: 30px;
      margin-bottom: 30px;

      @include for-medium() {
        font-size: 40px;
        line-height: 100%;
        grid-column: 1 / span 5;
        align-self: start;

      }

      @include for-desktop() {
        font-size: 48px;
        line-height: 100%;
      }
    }

  }

}

.recommended {
  @include for-desktop() {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
