@use '../utils/mixins' as *;

.burger {
  display: inline-block;
  align-items: end;
  background-image: url(../images/Icon-Burger-Menu.svg);
  background-size: cover;

  &:hover {
    background-image: url(../images/Icon-Burger-menu-hover.svg);
  }

  &__label {
    @include visually-hidden();
  }
}

