@use '../utils/mixins' as *;

.burger {
  display: inline-block;
  align-items: end;
  background-image: url(../images/Icon-Burger-Menu.svg);
  background-size: cover;

  @include for-medium {
    transform: translate(150px, 0);
  }

  @include for-desktop {
    transform: translate(90px, 0);
  }
  &:hover {
    background-image: url(../images/Icon-Burger-menu-hover.svg);
  }

  &__label {
    @include visually-hidden;
  }
}
