@use '../utils/mixins' as *;

.footer {
  height: 250px;
  background-image: url(../images/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;

  @include for-medium {
    height: 400px;
    background-image: url(../images/footer1.svg);
  }

  @include for-desktop {
    height: 460px;
  }
}
