@mixin visually-hidden() {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  &__item {

  }

  &__input {
    background-color: #F8F8FA;
    border-radius: 40px;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    height: 48px;
    line-height: 48px;
    padding-left: 17px;


    &::placeholder {
      font-family: Inter;
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0px;

    }

  }

  &__textarea {
    background-color: #F8F8FA;
    border-radius: 16px;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    height: 148px;
    padding: 16px 13px 16px 13px;


    &::placeholder {
      font-family: Inter;
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0px;

    }
  }

  &__label {
    &:not(:focus):not(:active) {
      @include visually-hidden();
    }
  }
}
