.links {
  padding-top: 20px;

  &__list {
    padding-top: 16px;
  }

  &__item {
    padding-top: 30px;
  }

  &__link {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #292929;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid #292929;
    }
  }
}
